:root {
  --nav-color: #37B5B6;
  --most-used: #0A1D56;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.App .app-header {
  display: flex;
  width: 100%;
}

.App .app-header .nav-item {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  background-color: var(--nav-color);
}

.App .app-header .nav-item .business-name {
  padding-left: 20px;
  font-size: 48px;
  font-weight: 600;
}

.App .car-logo {
  height: 200px;
}

.App .footer-info {
  display: flex;
  align-items: center;
}